<ion-header>
  <ion-toolbar>

    <!-- Acesso ao menu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- Título da página -->
    <ion-title>Cadastre-se</ion-title>

    <!-- Logotipo -->
    <ion-img src="assets/logo01.png" slot="end" class="pages-logo"></ion-img>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding ion-padding-horizontal">

  <h2>Cadastre-se</h2>
  <p>Preencha todos os campos com atenção para se cadastrar no aplicativo. Você será responsável caso preencha informações incorretas ou inverídicas.</p>
  <p class="ion-text-center">
    <ion-text color="danger"><small>Todos os campos são obrigatórios.</small></ion-text>
  </p>

  
 
</ion-content>
